.advance-filter-popover {
    position: absolute;
    width: 500px;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 1px solid #d8baba;
    z-index: 1000;
}

.advance-filter-popover-input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0;
}

.advance-filter-popover-input-label {
    width: 150px;
}

.advance-filter-popover-input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #d8baba;
}


.advance-filter-popover-input:focus {
    border-bottom: 1px solid #7150f3;
}

.advance-filter-popover-select {
    flex: 1;
    border: none;
    outline: none;
    border-bottom: 1px solid #d8baba;
}

.advance-filter-popover-date {
    flex: 1;
    border: none;
    outline: none;
    border-bottom: 1px solid #d8baba;
}

.advance-filter-popover-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

.advance-filter-popover-btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

.advance-filter-popover-btn.search-btn {
    background-color: #7150f3;
    color: #fff;
}

.advance-filter-popover-btn.search-btn:hover {
    background-color: #6346c9;
}

.advance-filter-popover-btn.clear-btn:hover {
    background-color: #d7d1d1;
}