.app-header .container {
    color: #444746;
    height: 48px;
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-home-link {
    margin-left: 12px;
    margin-right: 100px;
}

/* .filter-icon {
    margin-left: 10px;
    font-size: 18px;
    color: #5f6368;
} */