.mail-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    padding-left: 6px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.mail-list-header .select-all {
    margin-left: 0.5rem;
}