 .mail-preview {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #ccc;
     padding: 10px;
     box-sizing: border-box;
     width: 100%;
     transition: box-shadow 0.2s ease-in-out;
     cursor: pointer;
 }

 .side-bar-closed .mail-preview {
     width: calc(100vw - 160px);
 }

 .side-bar-open .mail-preview {
     width: calc(100vw - 220px);
 }

 .mail-preview:hover {
     text-decoration: none;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
     box-sizing: border-box;
 }


 .mail-preview-aside,
 .mail-preview-main,
 .mail-preview-date-container {
     display: flex;
     align-items: center;
 }



 .mail-preview-aside {
     width: 300px;
 }


 .mail-preview-main {
     display: flex;
     align-items: left;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     flex-grow: 1;
     min-width: 0;
 }


 .mail-preview-right {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-left: auto;
 }

 .mail-preview-checkbox-container {
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 .mail-preview-checkbox {
     background-color: #371717;
     margin-right: 10px;
     margin: 0.5rem;
     padding: 0.5rem;
     justify-content: center;
     border-radius: 50%;
     transition: background-color 0.3s;
 }

 .responsive-container {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: flex-start;
     width: 100%;
 }

 .mail-preview-checkbox:hover {
     background-color: #ccc;
 }

 .mail-preview-star-checkbox {
     margin-right: 10px;
 }

 .star-checkbox {
     cursor: pointer;
 }

 .star-checkbox.fas {
     color: #f5c742;
 }

 .mail-preview-from {
     margin-right: 10px;
     width: 200px;
     text-align: left;
 }

 .mail-preview-unread .mail-preview-from {
     font-weight: bold;
 }

 .mail-preview-subject {
     white-space: nowrap;
     text-overflow: ellipsis;
 }

 .mail-preview-read {
     background-color: #f2f6fb;
 }

 .mail-preview-unread .mail-preview-subject {
     font-weight: bold;
 }

 .mail-preview-body {
     width: 100%;

     margin-left: 10px;
     flex-grow: 1;
     flex-shrink: 1;
 }

 .mail-preview-date-container {
     flex: 0;
     white-space: nowrap;
 }

 .mail-preview-date {
     text-align: right;
     font-weight: bold;
     width: 100px;
     margin-left: auto;
 }

 .responsive-date-start {
     display: none;
 }

 @media (max-width: 425px) {
     .mail-preview {
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         justify-content: flex-start;
         height: 100%;
     }

     .mail-preview-checkbox-container,
     .mail-preview-date-container {
         display: none;
     }

     .responsive-container {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         height: 100%;
     }

     .mail-preview-main {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         height: 100%;
     }

     .mail-preview-hyphen {
         display: none;
     }

     .mail-preview-body {
         margin-left: 0;
     }

     .responsive-date-start {
         display: flex;
         flex-direction: column;
         height: 100%;
         width: 100%;
         align-items: flex-end;
         justify-content: space-between;
     }

     .star-checkbox {
         margin-top: 20px;
     }

     .mail-preview-date {
         margin-left: 0;
         width: 100%;
     }
 }