.mail-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px - 20px);
    overflow: hidden;
}

.mail-details .header {
    display: flex;
    flex-direction: column;
    height: auto;
}

.mail-details .header .title {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-size: 2rem;
}



.mail-details .header .meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.mail-details .header .meta .sub-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mail-details .header .meta .sub-header .item {
    height: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.mail-details .header .meta .sub-header .btn:hover {
    background-color: rgb(201, 186, 186);
}


.mail-details .header .meta .from {
    margin: 0.5rem;
}

.mail-details .body {
    flex: 1;
    padding-left: 40px;
    width: 100%;
    height: calc(100vh - 64px - 20px - 48px - 31px - 48px);
    overflow-y: scroll;
}

.mail-details .body .text-line {
    max-width: 600px;
    margin: 0.5rem;
    overflow-wrap: break-word;
}

@media (max-width: 425px) {
    .mail-details .body {
        width: 100%;
    }

    .responsive-from-email {
        display: none;
    }

    .mail-details .header .meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}