.mail-details-outlet {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px - 20px);
    overflow: hidden;
}

.mail-details-header {
    display: flex;
    flex-direction: column;
    height: auto;
}

.mail-details-title {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-size: 2rem;
}

.mail-details-btn {
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.mail-details-btn:hover {
    background-color: rgb(201, 186, 186);
}

.mail-details-btn-no-hover {
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    border-radius: 50%;
}

.mail-details-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mail-details-meta-subject {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mail-details-meta-item {
    margin: 0.5rem;
}

.mail-details-body {
    flex: 1;
    padding-left: 40px;
    width: 600px;
    height: calc(100vh - 64px - 20px - 48px - 31px - 48px);
    overflow-y: scroll;
}

.mail-details-body-line {
    max-width: 600px;
    margin: 0.5rem;
    overflow-wrap: break-word;
}