.mail-index {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.mail-index-content {
    display: flex;
    flex-direction: row;
}

.mail-index-main {
    display: flex;
    flex-direction: column;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}