.mail-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
}


.mail-preview:hover {
    /* border: 1px solid #856e6e; */
    text-decoration: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.mail-preview-aside,
.mail-preview-main,
.mail-preview-date-container {
    display: flex;
    align-items: center;
}


.mail-preview-aside {
    /* flex: 1; */
    width: 300px;
}

.mail-preview-main {
    display: flex;
    align-items: left;

    overflow: hidden;
    flex-grow: 1;
}


/* .mail-preview-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
} */
.mail-preview-checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mail-preview-checkbox {
    background-color: #371717;
    margin-right: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.mail-preview-checkbox:hover {
    background-color: #ccc;
}

.mail-preview-star-checkbox {
    margin-right: 10px;
}

.star-checkbox {
    cursor: pointer;
}

.star-checkbox.fas {
    color: #f5c742;
}

.mail-preview-from {
    margin-right: 10px;
    width: 200px;
    text-align: left;
}

.mail-preview-unread .mail-preview-from {
    font-weight: bold;
}

.mail-preview-subject {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mail-preview-read {
    background-color: #f2f6fb;
}

.mail-preview-unread .mail-preview-subject {
    font-weight: bold;
}

.mail-preview-body {
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}

.mail-preview-date-container {
    flex: 0;
    white-space: nowrap;
}

.mail-preview-date {
    text-align: right;
    font-weight: bold;
    width: 100px;
    margin-left: auto;
}