.search-bar {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #cee9fa;
    border-radius: 24px;
    padding: 5px 10px;
    width: 500px;
    max-width: 1000px;
    margin: 0 auto;
}

.search-container.open {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 24px 24px 0 0;
}

.search-container.open.list {
    border: 2px solid #c1e7fe;


}

.search-icon {
    margin-right: 10px;
    font-size: 18px;
    color: #5f6368;
}

.search-input {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    font-size: 16px;
    color: #202124;
    width: 300px;
}

.search-input::placeholder {
    color: #5f6368;
}

.search-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-search-bar {
    position: relative;
    z-index: 10;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    border-radius: 0 0 24px 24px;
    border: 2px solid #ccc;
    border-top: none;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #f0f0f0;
}

.dropdown-footer {
    padding: 8px;
    cursor: pointer;
    border-top: 1px solid #ccc;


}

.dropdown-footer:hover {
    background: #f0f0f0;
}

.dropdown-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.search-dropdown .dropdown-list .dropdown-header button {
    background: #f0f0f0;
    border: 1px solid #ccc;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-dropdown .dropdown-list .dropdown-header button.active {
    background: #cee9fa;
    border: 1px solid #cee9fa;
    padding-left: 24px;
}

.search-dropdown .dropdown-list .dropdown-header button.active::before {
    content: '✔';
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #1f1414;
}

.dropdown-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    /* Adjust padding as needed */
}

.advance-filter-icon {
    margin: 4px 10px;
    padding-top: 4px;
    font-size: 18px;
    color: #5f6368;
}