.parent-container {
    position: relative;
    display: flex;
}

.app-side-bar {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100%;
    padding-top: 20px;
}

.app-side-bar.open {
    width: 220px;
}

.app-side-bar.closed {
    width: 80px;
}

.app-side-bar.closed.focus {
    position: absolute;
    width: 220px;
    overflow-x: auto;
    z-index: 1000;
    background-color: #f7f8fd;
    /* left: 0; */
}

.side-bar-filler.active {
    width: 80px;
}

.side-bar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: #c1e7fe;
    padding: 10px 10px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: none;
    transition: box-shadow 0.2s ease-in-out;
    font-size: 0.9em;
    margin: 0 10px 20px 10px;
}

.side-bar-btn.open {
    width: 150px;
    height: 60px;
}

.side-bar-btn.closed {
    width: 60px;
    height: 60px;
}

.side-bar-btn:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.side-bar-btn-icon {
    padding-top: 3px;
    margin-left: 5px;
    font-size: 1.4em;
    width: 30px;
    height: 30px;
}

.side-bar-link {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;

    text-decoration: none;
    color: black;
    font-size: 1.4em;
    padding: 10px 0;
    flex-grow: 1;
    margin-right: 20px;
    padding-left: 25px;
    border-radius: 0 20px 20px 0;
    height: 51px;
}

.side-bar-link-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.side-bar-link:hover {
    background-color: #c4d9e6;
    text-decoration: none;
    font-weight: normal;
}

.side-bar-link.active {
    background-color: #c1e7fe;
    text-decoration: none;
    font-weight: normal;
}

.side-bar-link .unread-count {
    font-size: 0.7em;
    margin-right: 10px;
    margin-top: 5px;
}

.side-bar-link.active .unread-count {
    font-weight: bold;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

.notification-bubble {
    position: absolute;
    top: -5px;
    right: -7px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}


@media (max-width: 425px) {
    .parent-container {
        position: relative;
        display: flex;
        height: 100vh;
    }

    .side-bar-btn {
        display: none;
    }

    .side-bar-filler {
        display: none;
    }

    .app-side-bar.closed {
        display: none;
    }

    .app-side-bar.open {
        position: fixed;
        top: 0;
        left: 0;
        width: 90%;
        overflow-x: auto;
        z-index: 1000;
        background-color: #f7f8fd;
    }

}